* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    /* color: white;  */
}



main {
    display: flex;
    margin-bottom: 90px;
}


/* left side */

#left {
    width: 232px;
    /* width: 16%; */
    /* height: 1000px; */
    background-color: #000000;
    position: relative;
}



#left .logo {
    width: 100%;
    padding: 20px;
}

#left .logo .img-logo-big {
    width: auto;
    height: 40px;
}

#left .logo .img-logo-small{
    display: none;
}


#left a {
    color: #717171;
    font-weight: bold;
}

#left a:hover {
    color: white;
}

#left .icons-menu .container{
    width: 100%;
    display: flex;
    padding-left: 20px;
    margin-top: 2px;
    align-items: center;

}

/* #left .icons-menu .container.home.here{
    border-left: solid 3px yellowgreen;
    padding-left: 16px;
} */


#left .icons-menu .container.search{
    margin: 7px 0;
}

#left .icons-menu .container img{
    width: auto;
    height: 25px;
}

#left .icons-menu .container .text{
    padding-left: 5px;

}


#left .icons-menu .container .text a{
    font-size: 13px;
    
}

#left h5 {
    color: white;
    padding-left: 20px;
    margin-top: 25px;
    margin-bottom: 12px;
}

#left .add-playlist {
    color: #717171;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#left .add{
    display:flex;
    align-items: center;
}



#left .add i {
    color: #717171;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 40px;
   
}

#left .add i:hover{
    color: white;
}


#left .add span {
    font-size: 15px;

}


#left .playlist ul {
    max-height: 170px;
    padding-left: 20px;
    overflow-y: auto;
}


#left .playlist ul li {
    padding: 10px 0;
    font-size: 13px;
}

#left .icons-menu.bottom {
    position: fixed;
    bottom: 85px;
    background-color: black;
    padding-bottom: 20px;
}

#left hr {
    width: 100%;
    margin-left: 15px;
}

#left .container.installa{
    margin-bottom: 10px;
}

#left .container.installa a{
font-size: 12px;
}

#left .container.installa .text.download a{
    font-size: 12px;
    padding-left: 4px;
}

#left .container.utente{
    margin-top: 10px;
}

#left .container.utente .user-logo{
    font-size: 25px;
}

#left .container.utente .text a{
    font-size: 14px;
   
}



/* right side */

#right {
    /* width: 84%; */
    max-width: calc(100% - 232px);
}

#main-right {
    max-width: 100%;
    /* height: calc(100vh - 170px); */
    overflow-y: auto;
    background-color: #141922;
}
#head-right {
    width: 100%;
    height: 90px;
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#head-right .btn {
    color: white;
    padding: 13px 37px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    border: solid 1px white;
    border-radius: 25px;

}

#head-right .btn:hover{
    transform: scale(1.1);
}



#main-right nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#main-right nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#main-right nav ul li {
    padding: 15px 11px;
    min-width: 112px;
    position: relative;
}

#main-right nav ul li .here {
    position: absolute;
    bottom: 9px;
    right: 37%;
    background: yellowgreen;
    width: 30px;
    height: 2px;
    left: 50%;
    transform: translate(-50%, -50%);
}


#main-right nav ul li a {
    font-size: 13px;
    font-weight: bold;
    color: #757575;
}

#main-right nav ul li a:hover {
    color: white;
}


#main-right .title h2 {
    color: white;
    margin-top: 30px;
    margin-left: 20px;
}

#main-right .title h5 {
    color: #757575;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#main-right .row {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
}

#main-right .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#main-right .row.short {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 14px;
}

#main-right .container {
    max-width: calc((100% - 70px) / 6);
    height: 100%;
    text-align: center;
    min-width: 166.167px
}

#main-right .container .cont-img{
    position: relative;
}

#main-right .container .cont-img img {
    max-width: 100%;
    opacity: 1;
}

#main-right .container .cont-img .img-hover {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

#main-right .container .cont-img:hover img{
    opacity: 0.3;
}
  
#main-right .container .cont-img:hover .img-hover {
    opacity: 1;
}


#main-right .container .cont-img .play-btn a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    
}




#main-right .container h4 {
    color: white;
    margin: 10px 0;
}

#main-right h5 {
    color: #757575;
    font-size: 12px;
}

#main-right .container .cont-img.round img {
    border-radius: 50%;
}



/* footer */

footer {
    width: 100%;
    height: 90px;
    background-color: #282828;
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;

}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;

}

/* footer colonna sinistra */

footer .col-sx ul .img-footer {
    width: 42px;
    height: 42px;
}

footer .col-sx ul .img-footer img {
    max-width: 100%;
    max-height: 100%;
}

footer .col-sx ul li {
    padding-left: 10px;

}

footer .col-sx ul li .caption-footer a {
    display: block;

}


footer .col-sx ul li .artist {
    font-size: 12px;
    color: white;
    font-weight: bold;

}


footer .col-sx ul li .song {
    font-size: 10px;
    font-weight: bold;
    color: #757575;
}

footer .col-sx ul li .song:hover{
    color: white;
    text-decoration: underline;
}



footer .col-sx ul li .heart {
    font-size: 15px;
    padding-left: 30px;
    color: #757575;

}

footer .col-sx ul li .folder {
    font-size: 15px;
    color: #757575;
}

footer .col-sx ul li .heart:hover{
    color: white;
}

footer .col-sx ul li .folder:hover{
    color: white;
}


/* footer colonna centrale */

footer .col-cen .player {
    margin-bottom: 10px;

}


footer .col-cen .player ul a {
    color: white;
    padding: 0 15px;

}



footer .col-cen .player ul .play {
    font-size: 30px;

}

footer .col-cen .player ul .play-div:hover{
    transform: scale(1.1);
}



footer .col-cen .time-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

footer .line {
    height: 4px;
    width: 430px;
    background-color: white;
    border-radius: 50px;
    margin: 0 23px;
    
}



footer .col-cen .time-line .timer {
    font-size: 10px;
    font-weight: bold;
    color: white;
}



/* footer colonna destra */

footer .col-dx ul a {
    color: white;
    font-size: 15px;
    padding: 0 10px;

}

footer .col-dx {
    display: flex;
    justify-content: center;
    align-items: center;
}


footer .line.short {
    width: 110px;
    margin-left: 10px;

}




@media screen and (max-width: 552px) {

    #left{
        width: 50px;
    }

    #left .logo .img-logo-big{
        display: none;
    }

    #left .logo .img-logo-small{
        display: block;
    }

    #left .logo{
        padding: 12px;
    }

    #left .icons-menu .container .text,
    #left h5, #left .add-playlist, #left .playlist, #left .icons-menu.bottom hr{
        display: none;
    }

    #left .icons-menu .container{
        padding-left: 12px;
    }

    #left .icons-menu.bottom .arrow{
        padding-left: 6px;
    }

    #right {
    
        max-width: calc(100% - 50px);
    }


    
}